body {
	align-items: flex-start;
}

main {
	margin-bottom: calc(10vh - 3rem);
	display: flex !important;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	margin-top: 3rem;
	overflow: scroll;
	height: auto;
}

.carta {
	margin-bottom: 2rem;
}
